<div>
    <div id="mydiv" ng-show="loading" align="center">
        <img src="images/ajax-loader.gif" class="ajax-loader" />
    </div>

    <table class="table table-hover" ng-show="!loading">
        <thead>
            <tr>
                <th>TIME</th>
                <th>TEAM 1</th>
                <th>TEAM 2</th>
                <th>SCORE</th>
                <th>POINTS</th>
            </tr>
        </thead>
        <tr ng-repeat="game in lastgames">
            <td>
                <p>
                    {{game.localTime}}
                </p>
            </td>
            
            <td>
                <p data-ng-class="{'winner':game.MatchResult.Team1Won}">
                    {{game.playerList[0]}}
                    <br/>
                    {{game.playerList[1]}}
                </p>
            </td>


            <td>
                <p data-ng-class="{'winner':!game.MatchResult.Team1Won}">
                    {{game.playerList[2]}}
                    <br />
                    {{game.playerList[3]}}
                </p>
            </td>

            <td>
                <p>{{game.matchResult.team1Score}} - {{game.matchResult.team2Score}}</p>
            </td>
            
            <td>
                <p>{{game.points}}</p>
            </td>
        </tr>
    </table>

    <div ng-show="loadingFailed" align="center">
        <pre>{{errorMessage}}</pre>
        <img src="images/ServerIssues.png" width="600" height="400" alt=";(">
    </div>
</div>
